uvicorn
fastapi
requests
langchain
langchain-community
langchain-core
langchain-google-genai==0.0.11  # Downgraded to an older version
faiss-cpu
sentence-transformers
pandas
python-dotenv
google-generativeai==0.5.1      # Downgraded to an older, compatible version
numpy==1.26.4
protobuf==4.25.3